body{
    display:block;
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    background-image:url(http://www.yoannbourse.com/ressources/design/teal/background.jpg)
             }
.experience{
    margin: auto;
    margin-top: 10px;
    width:90%;
    border: 1px solid black;
    padding: 5px;
    clear:left
    
}
.job{
    margin-left:10px;
    margin-top: 10px;
    width:75%;
    border: 1px solid black;
    padding: 5px;
    clear:left
    
}
img{
    float: left;
    margin-bottom: 15px;
    margin-right:15px;
    border: 2px solid black;
    margin-left:35px;
}
#personel-info{
    font-size: 25px;
    
}
h1{
    text-align:center;
}
